

path.leaflet-interactive.hide {
    display: none;
    /*
    stroke-dasharray: 1920;
    stroke-dashoffset: 1920;
    animation: dash 10s linear 3s forwards;
    */
  }
  
/*
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
*/